{% extends "base.html" %}
{% block title %}TAKE5{% endblock %}
{% block head %}
  {{ super() }}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nicepage.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inspo.css') }}">


{% endblock %}

{% block content %}
  <div data-home-page="Home.html" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <br><br>
    <section class="u-clearfix u-custom-color-3 u-section-1" id="sec-6edd">
      <div class="custom-expanded data-layout-selected u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-container-style u-custom-color-3 u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-border-3 u-border-black u-container-style u-group u-white u-group-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h2 class="u-align-left u-custom-font u-text u-text-1">
                      <span style="font-weight: 400;">Explore&nbsp;</span>
                      <br>
                      <span style="font-weight: 400;">Self Care</span>
                    </h2>
                  </div>
                </div>
                <p class="u-align-center u-custom-font u-text u-text-white u-text-2">We want to keep self care<br>
                  <span style="font-weight: 700;">
                    <span style="font-weight: 700;"> simple and easy</span>
                  </span>
                </p>
                <a href="{{url_for('main.home')}}#mission" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-1">learn more</a>
              </div>
            </div>
            <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="936" data-image-height="1416">
              <div class="u-container-layout u-container-layout-3" src=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_4d2f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-text-3">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-36 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1" style="font-style:normal; max-width:110%;">
                          <h2 class="u-text "> Inspiration</h2>
                          <p class="u-text u-text-default u-text-2"> Taking a stretch break is a great way to relieve tension and re-energize.</p>
                        </div>
                      </div>
                      <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="750" data-image-height="500">
                        <div class="u-container-layout u-container-layout-2"></div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-container-style u-image u-layout-cell u-size-60 u-image-2" data-image-width="750" data-image-height="500">
                        <div class="u-container-layout u-container-layout-3"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-24 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-container-style u-image u-layout-cell u-size-60 u-image-3" data-image-width="750" data-image-height="500">
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="u-align-center u-custom-font u-font-montserrat u-small-text u-text u-text-default u-text-variant u-text-3"> &nbsp;Its simple to find 5 minutes a day dedicated to yourself. No matter if you’re at home, working, or out and about, there is always time to prioritize yourself.</p>
      </div>
    </section>






</div>
{% endblock %}
